@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* shared style */
.border{
    border: 2px solid green;
}
.flex{
    display: flex;
}
.center{
    text-align: center;
}
.m-right{
    margin-right: 8px;
}
.gray{
    color: #575757;
}
.red{
    color: #BA1A1A;
}
.yellow{
    color: #BDA004;
}
.btn-primary{
    background-color: #E8BA2E;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
}
body{
    font-family: "Inter", sans-serif;
}
header, .percent-section{
    margin: 20px 40px;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 25px;
}
nav a{
    color: #575757;
    text-decoration: none;
}
/* banner-section */
.banner-section{
    color: #FFFFFF;
    background-image: url(../images/banner.avif);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    border-radius: 16px;
    margin: 24px 0;
}
.banner-content{
    padding: 100px 700px 100px 30px;
}
.banner-content h1{
    font-size: 88px;
    font-weight: 700;
}
.banner-content button{
    margin-top: 40px;
    background-color: #E8BA2E;
}
/* percent section */
.percent-section{
    background-color: #E8BA2E;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
}
.percent-section h2{
    color: #000102;
    font-weight: 700;
    font-size: 72px;
    margin-top: 24px;
}
/* explore section */
.explore-section, .matches-section, .news-section{
    margin: 90px 100px 100px;
}
.section-title{
    font-weight: 600;
    font-size: 56px;
    margin-bottom: 50px;
    text-align: center;
}
.city{
    display: flex;
    margin-bottom: 48px;
}
.img-container img{
    border-radius: 16px;
    margin-right: 48px;
}
.content-container h4{
    font-weight: bold;
    font-size: 40px;
}
.content-container p{
    margin-top: 16px;
    margin-bottom: 11px;
}
/* matches section */
.matches-section{
    border: 1px solid #D9D9D9;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    padding: 28px;
}
.matches-title{
    font-weight: bold;
    font-size: 2rem;
    color: #111C2D;
}
.matches-subtitle{
    color: #505F76;
    margin-top: 4px;
    margin-bottom: 24px;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
    padding: 12px 55px;
}
th{
    background-color: #BA1A1A;
    color: #FFFFFF;
}
/* news section */
.news-section{
    text-align: center;
    background-color: #BDA004;
    border-radius: 10px;
    padding: 50px 0;
}
form input{
    padding: 10px 200px 10px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}
/* footer section */
footer{
    background-color: #000102;
    height: 280px;
    color: #FFFFFF;
}
.footer-section{
    padding: 78px 60px 24px 60px;
}
.img-div, .content-div{
    justify-content: space-between;
}
footer hr{
    margin: 80px 0px 24px 0px;
}
.logo-container a{
    border: 1px solid white;
    padding: 8px;
}